<div class="col-lg-6">
  <div class="card shadow">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary float-left"><%= gettext("New Project") %></h6>
    </div>
    <div class="card-body">
        <%= live_component @socket,
        UniWeb.ProjectLive.FormComponent,
        id: "new-project",
        action: :new,
        project: @project,
        user: @current_user%>
    </div>
  </div>
</div>
