<div class="col-md-7">
  <div class="card shadow">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary float-left"><%= gettext("New Conference") %></h6>
    </div>
    <div class="card-body">
        <%= live_component @socket,
        UniWeb.ConferenceLive.FormComponent,
        id: "new-conference",
        action: :new,
        conference: @conference,
        user: @current_user%>
    </div>
  </div>
</div>
