<div class="col-md-7">
  <div class="card shadow">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary float-left"><%= gettext("New Monograph") %></h6>
    </div>
    <div class="card-body">
        <%= live_component @socket,
        UniWeb.MonographLive.FormComponent,
        id: "new-monograph",
        action: :new,
        monograph: @monograph,
        user: @current_user%>
    </div>
  </div>
</div>
